/**
 * TODO Import only the stuff we need.
 */
@import "bootstrap/less/bootstrap.less";

/**
 * Fixed 'ribbons' for top and bottom of our page.
 */
html {
	background: url('../img/kantosamit.png') repeat-x top left fixed;

	background-color: #000;

	background-size:         auto 25vh;
	-webkit-background-size: auto 25vh;

	body {
		background: url('../img/kantosamit.png') repeat-x bottom left fixed;

		background-color: transparent;

		background-size:         auto 25vh;
		-webkit-background-size: auto 25vh;
	}
}

/**
 * Header section. Title.
 */
.header {
	height:   25vh;
	position: relative;

	.title {
		color:    #FFF;
		right:    8px;
		bottom:   0px;
		position: absolute;
	}
}

/**
 * Footer section. Legal stuff.
 */
.footer {
	height:   25vh;
	position: relative;

	/**
	 * TODO Make legal stuff look nicer.
	 */
	a {
		color:           #FFF;
		text-decoration: none;

		position: absolute;

		left:   16px;
		bottom: 16px;
	}
}

/**
 * Content between Header and Footer sections.
 */
.content {
	min-height: 50vh;
	background: #FFF;

	/**
	 * Overwrite 'bootstrap' container's 960px 'max-width'.
	 */
	.container {
		max-width: 768px !important;

		padding-top:    8px;
		padding-bottom: 8px;
	}
}

/**
 * BOOTSTRAP OVERRIDES
 */

/**
 * Remove shadows and borders from bootstrap panels. Used in conjuction with
 * bootstrap list-groups.
 */
.panel {
	border: none !important;

	box-shadow:         none !important;
	-webkit-box-shadow: none !important;

	.panel-heading {
		border:        1px solid @panel-default-border !important;
		border-radius: 0px !important;
	}

	/**
	 * Overwrite bootstrap's 'border-radius' for list items.
	 */
	.list-group-item {
		margin:  4px auto;
		padding: 4px 8px !important;

		border:        1px solid @gray-lighter !important;
		border-radius: 0px !important;

		/**
		 * Center the text-content inside 'list-group-item' vertically.
		 */
		.text-right {
			line-height: 32px;
		}

		/**
		 * Border intensifies.
		 */
		&:hover {
			border: 1px solid @list-group-border !important;
		}
	}
}

/**
 * VIEW-SPECIFIC STUFF
 */

.week-view {

	/**
	 * Very minimal 'week-picker'.
	 */
	.week-picker {
		margin-top:    4px;
		margin-bottom: 8px;
	}

	/**
	 *
	 */
	.stats-list {
		.sample-size {
			margin-right: 24px;

			color:       @gray-light;
			font-size:   11px;
			line-height: 32px;
		}
	}

	/**
	 * Displays a Steam avatar.
	 */
	.player-portrait {
		width:  32px;
		height: 32px;

		margin-right: 8px;

		opacity: 0.8;

		/**
		 * Visibility intensifies.
		 */
		&:hover {
			opacity: 1.00;
		}
	}
}
